body {
  width: 100%;
  margin: 0 auto;
  font-family: "YuMincho", "Yu Mincho", serif;
  font-weight: 400;
  font-style: normal;
  color: #171A26;
  background-color: #171A26;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

h2, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

.pc_none {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0);
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header_inner .sitetitle {
  font-size: 1.1em;
  font-weight: normal;
  margin-left: 20px;
  color: #FFF;
}
.header_inner .nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100vh;
  background-color: #fff;
  transform: translateX(100vw);
  transition: all 0.5s;
}
@media screen and (max-width: 480px) {
  .header_inner .nav {
    width: 280px;
  }
}
.header_inner .nav_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  text-align: center;
}
.header_inner .nav_list a {
  color: #171A26;
}
.header_inner .nav_list_item a {
  transition: all 0.5s;
}
.header_inner .nav_list_item a:hover {
  opacity: 0.4;
}
.header_inner .nav_list_item p {
  padding-top: 5px;
  color: #171A26;
}
.header_inner .nav.active {
  transform: translateX(0);
}
.header_inner .overlay {
  background-color: #000;
  cursor: pointer;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.6s;
  visibility: hidden;
  width: 100vw;
  z-index: 1;
}
.header_inner .overlay.active {
  opacity: 0.8;
  visibility: visible;
}
.header_inner .nav_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 20px;
  margin-right: 20px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.header_inner .nav_btn div {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s linear;
}
.header_inner .nav_btn.active {
  position: fixed;
  right: 0;
  z-index: 150;
  transition: all 0.3s linear;
}
.header_inner .nav_btn.active div:nth-child(1) {
  transform: translateY(9px) rotate(25deg);
  transition: all 0.3s linear;
  background-color: #171A26;
}
.header_inner .nav_btn.active div:nth-child(2) {
  transform: translateY(-9px) rotate(-25deg);
  transition: all 0.3s linear;
  background-color: #171A26;
}

.main {
  width: 100%;
  height: 100vh;
  background: url(./images/mainvisual_pc.png) no-repeat center/cover;
}
.main .scrolldown {
  position: absolute;
  left: 45%;
  bottom: 10px;
  height: 80px;
}
@media screen and (max-width: 480px) {
  .main .scrolldown {
    left: 50%;
  }
}
.main .scrolldown span {
  position: absolute;
  left: -20px;
  top: -20px;
  color: #FFF;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.main .scrolldown:after {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 40px;
  background: #FFF;
  -webkit-animation: pathmove 1.4s ease-in-out infinite;
          animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}
@-webkit-keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

#about, #works {
  padding-top: 70px;
}

.background {
  min-height: 400px;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.img_bg_01 {
  background-image: url(./images/bg01.jpg);
}

.img_bg_02 {
  background-image: url(./images/bg02.jpg);
}

section {
  width: 1000px;
  margin: 50px auto 100px;
  background-color: #171A26;
}
section h3 {
  color: #FFF;
}
section p {
  color: #FFF;
  line-height: 1.4em;
}
section .btn {
  position: relative;
  overflow: hidden;
  width: 100px;
  margin: 40px auto 40px;
  padding: 10px 20px;
  border: 1px solid #FFF;
  text-align: center;
  transition: ease 0.2s;
}
section .btn span {
  position: relative;
  z-index: 10;
}
section .btn:hover span {
  color: #171A26;
}
section .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #FFF;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: left top;
}
section .btn:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.about .title {
  width: 300px;
  transform: rotate(-15deg);
}
.about_container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: -70px;
}
.about_container_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about_container_image {
  display: flex;
  flex-direction: column;
}
.about_container_image img {
  width: 400px;
}
.about_container_image .bottom {
  margin: -40px 0 0 80px;
}

.works .title {
  width: 300px;
  margin: 0 auto;
}
.works h3 {
  text-align: center;
}
.works_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.footer {
  width: 100%;
  height: 150px;
}
.footer small {
  display: block;
  padding-top: 70px;
  color: #FFF;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .pc_none {
    display: block;
  }
  .sp_none {
    display: none;
  }
  .header {
    height: 100px;
  }
  .main {
    background: url(./images/mainvisual_sp.jpg) no-repeat center/cover;
  }
  section {
    width: calc(100% - 40px);
    margin: 30px auto 40px;
  }
  .about {
    width: 100vw;
  }
  .about_container {
    display: flex;
    flex-direction: column-reverse;
  }
  .about_container_text {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .about_container_image {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 50px;
    width: 100vw;
  }
  .about_container_image img {
    width: 195px;
  }
  .about_container_image .top {
    margin-left: -5px;
  }
  .about_container_image .bottom {
    margin: 40px 0 0 0;
    overflow-x: hidden;
  }
  .works .title {
    width: 200px;
  }
  .works_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 20px;
  }
  .bg_fixd_01 {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 280px;
    z-index: -1;
    background-image: url(./img/bg01.jpg);
    position: fixed;
  }
}/*# sourceMappingURL=text.css.map */